.vs/
output/
.vscode/
.VSCodeCounter/
build/
Debug/
Release/
x64/
CMakeFiles/
*.o
*.csv
*.obj
*.bin
*.map
*.bak
*.log
*.pcb
*.pdb
*.lst
*.ram
*.cmx
*.d
*.p1
*.pre
*.ilk
*.idb
*.enc
*.lpp
*.tlog
*.exe
.vscode/.BROWSE.C_CPP.*
*.recipe
*ilk
*pch
*.enc
*.idb
*pyc
vc143.*
*.vcxproj
*.filters
*.sln
*.user
*.aps
*.CMakeFiles
CMakeCache.txt
*.cmake
